:root {
    --cart-item-height:150px;
    --buy-color:#ff424e !important;
}

.section-header {
    font-size: 3rem;
    margin:20px 0;
}
/* .cart-wrapper {
    width: calc(100% - 80px);
    max-width:100%;
    margin: 0 auto;
} */
.cart {
    display: flex;
    justify-content: space-between;
}
.cart-inner {
    padding: 10px 20px;
    background-color: #ddd;
    flex-basis: 75%;
}
.cart-title,
.cart-item {
    font-size: 1.6rem;
    display: flex;
    list-style: none;
    align-items: center;
}
.cart-item {
    min-height: var(--cart-item-height);
    background-color: var(--white-color);
}
.cart-title {
    height: 50px;
    background-color: #ddd;
}
.cart-item__checkbox {
    flex-basis: 10%;
    display:flex;
    justify-content: center;
}
.cart-item__checkbox span{
    width: 20px;
    height: 20px;
    border: 1px solid black;

}
.cart-item__name,
.cart-item__info {
    flex:1;
    display:flex;
    align-items: center;
}
.cart-item__price, 
.cart-item__amount, 
.cart-item__total, 
.cart-item__options {
    flex-basis: 15%;
    text-align: center;
}
.cart-item__options {
    cursor: pointer;
}

.info__pic {
    background-image: url(/assets/img/book1.jpg);
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
}
.info__name {
    font-size: 1.6rem;
    font-weight: 400;
}
.cart-total-price {
    flex-basis: 24%;
    max-height: 300px;
}
.prices__items,
.prices__total {
    padding: 30px;
    background-color: var(--white-color);
    font-size: 1.4rem;
}
.prices__item {
    margin-bottom: 12px;
}
.prices__item,
.prices__total {
    display: flex;
    justify-content: space-between;
}
.prices__value-final {
    font-size: 2rem;
}
.btn--submit {
    margin-top: 12px;
    border-radius: 4px;
    border:none;
    width: 100%;
    background-color: var(--buy-color);
    text-align: center;
    padding: 13px 10px;
    color: var(--white-color);
    opacity: 0.85;
    transition: ease .2s;
    font-size: 1.6rem;
}
.btn--submit:hover {
    opacity: 1;
}

