
.header-bottom {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70%;
}
.header-bottom__col {
    flex-basis: 60%;
}
.col-img {
    height: 100%;
    flex-basis: 40%;
    border-radius: 20px;
    overflow: hidden;
}
.header-bottom__quote {
    padding-right: 30px;
    margin-bottom: 20px;
}
.header-bottom__quote-title {
    font-weight: 700;
    font-size:5rem;
}
.header-bottom__quote-title span {
    color: #bb3e03;
}
.description {
    text-align: end;
    font-size: 2rem;
}

/* Content-sections */

/* section:popular */

.section--popular {
    background:#d8eaf1 ;
    height: max-content;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 9px 10px 14px rgb(0 0 0 / 20%);
}
.section-hint__container {
    display: flex;
}
.section-popular__header {
    text-align: center;
    
}
.section-popular__item-wrapper {
    padding: 16px 0;
    height: 220px;
    gap: 0 16px;
    overflow:scroll
    
}
.section-popular__item {
    display:flex;
    flex-direction: row;
    padding: 20px;
    transition: linear .2s;
    width: max-content;
    box-shadow: 4px 6px 14px rgb(0 0 0 / 20%);
    background-color: #f8edeb;
    border-radius: 6px;
}
.section-popular__item .popular__img {
    width: 100px;
}
.item__description--popular {
    margin: 0;
    width: max-content;
    padding: 0 10px;
}



.item-1 {
    background-color: #d4e09b;
}
.item-2 {
    background-color: #fdfcdc;
}
.item-3 {
    background-color: #fed9b7;
}

.item__description--popular {
    line-height: 2rem;
    position:relative
}
.item__description--popular .btn {
    position: absolute;
    bottom: 0;
    background-color: inherit;
    width: 100%;
    font-size: 1.4rem;
    font-weight: normal;
    border-radius: 5px;
}


/* Blog section */
.section-blog__container {
    height: max-content;
}
.section-blog__container .section-header {
    text-align: center;
}
.blog__author-name {
    font-size: 3rem;
    font-weight: 300;
    margin: 10px 0;
}

.header-description {
    font-size: 2rem;
    margin: 10px 0;
}
.section-blog__items {
    display:flex;
    gap: 0 20px;
}
.section-blog__special {
    width: 40%;
    height: 450px;
}
.section-blog__features {
    display: flex;
    height: 400px;
    width: 100%;
    gap: 5px 5px;
    overflow: scroll;
    flex-wrap: wrap;
}
.features__item {
    width: 49% ;
    flex-direction: row;
    height: max-content;
    padding: 4px 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    height: 160px;
    background-color: var(--white-color);
}
.features__item .item__description {
    flex:1;
    text-align: end;
    font-size: 1.6rem;
}

.feature-item__btns {
    right: 0;
}
.feature-item__btns .btn{
    font-size: 1.2rem;
    padding:8px 12px;
    margin: 0;
}




/* hint section */

.section-hint__container {
    min-height: 500px;
    background-color: #E8D6C4;
    padding: 40px 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.section-hint__item {
    position: relative;
    min-height: 500px;
    box-shadow: 4px 10px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    flex-basis: 30%;
    background-color: var(--white-color);
}
.hint-img {
    height: 50%;
}
.hint-content {
    height: 50%;
    padding: 10px 16px;
}
.hint-content__item {
    margin: 10px 0;
}
.hint-content__item.go-to {
    position: absolute;
    bottom: 0;
}
.hint-header {
    font-size: 2rem;
}
.hint-header__link {
    color: var(--text-color);
    transition: ease .2s;
}
.hint-header__link:hover {
    color: var(--secondary-color);
}
.hint-description {
    font-size: 1.6rem;
}

/* recent section */
.section-recent__container .item-wrapper {
    margin-top: 20px;
}
.section-recent__item .item__description * {
    color: var(--text-color);
}
.section-recent__item-wrapper {
    overflow:scroll;
}

.item--recent {
    min-width: 200px;
}
